.vencimento{
    margin-bottom: 10px;
}
.lancamento{
    margin-bottom: 10px;
}
.descricao{
    margin-bottom: 10px;
}

.vencimento input{
    width: 95px;
}

.pesquisa{
    margin-bottom: 10px;
    font-weight: bold;
}

.col-valor-header {
    width: 120px;
  }
  
  .col-valor-content {
    text-align: right;
  }
  
  .col-data-header {
    width: 120px;
  }
  
  .col-data-content {
    text-align: center;
  }

  .newButton{
      margin-top: 10px;
  }